/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2014, 5:13:56 PM
    Author     : ashleybroadwell
*/
* {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

html, body{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

table {
    height: 97%; 
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    
}
#grid {
    background-image: url('pics/grass.png');
    background-repeat: repeat;
    background-size: 15% 15%;
}
tr, td {
    height: 30px;
    width: 28px;
    alignment-adjust: middle;
    text-align: center;
    overflow: hidden; 
}

h1 {
    color: red;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    opacity:1;
}
.outer {
    background-image:url('pics/dirt.png');
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px dotted black;

}

.laser {
    background-image: url('pics/oval2.png');
}

#thing {
    position: absolute;
    height: 15px;
    width: 15px;
    transition: left 1s ease-in, top 1s ease-in;
    visibility: hidden;
    z-index: 1;
}

.unHit {
    background-image: url('pics/brickLarge.png');
    background-size: 100% 100%;
    z-index: 10;

}
.hit2 {
    background-image: url('pics/crackedSteel.png');
    background-size: 100% 100%;
    z-index: 10;
}

.hit3 {
    background-image: url('pics/steel.png');
    background-size: 100% 100%;
    z-index: 10;
}

.remove {
    background-color: transparent;
}
.deathBox {
    background-image: url('pics/skull.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    z-index: 10;
}

.remove {
    background-color: transparent;
    background-image: none;
}

.helpOverlay{
    position:fixed;
    margin: auto; 
    top:0; 
    left:0; 
    width:100%;
    height: 100%;
    background: grey;
    opacity: 0.7;
    z-index: 500; /* or  greater value */
    padding: 10%; 
}



.menuOverlay{
    position:fixed; /*or  absolute*/
    margin: auto;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: grey;
    opacity: 0.7;
    z-index: 1000; /* or  greater value */
}

div.helpOptions {
    font-size: 60%;
    display: inline-block;
    line-height: 1.5em;
    width: 63%;
    height: 63%;
    left: 10%;
    top: 9%;
    position: absolute; 
    vertical-align: center;
    text-shadow: 0px 0px 1px white;
    z-index: 1500;
    background-color: white;
    opacity: 1;
    border-style: ridge;
    border-width: 10px;
    border-color: crimson;
}
ol, li {
    overflow-wrap: break-word;
    width: 87%;
    height: 40%;
    font-size: 111%;
}

div.helpingTheHelp{
    position: relative;
    width: 60%;
    height: 60%;
    left: 23%; 
    position: absolute;
    margin: auto; 
    margin-top: 10%; 
    background-color: white;
    z-index: 1400;
}

#startLevel{
    top: 50px;
    font-size: 200%;
    color: darkblue;
    text-decoration:none;
    text-shadow:-2px 2px 8px #Ff6627;
    position: relative;
}

#OverlayOptions {
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    background: white;
    opacity: 1;
    border-style: ridge;
    border-width: 10px;
    border-color: crimson;
}

.onTop {
    position: relative;
    opacity: 1.0;
    z-index: 3000;
}

a.onTop {
    position: absolute;
    opacity: 1.0;
    z-index: 3000;
}

#menuClick {
    //padding-top: 13%;
    /* margin-top: 20%; */
    position: relative; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 2000;
 margin: .25%;
}

#selector td {
    border: 1px lightgray dotted;
}

div#buttonRow {
    position: absolute;
    top: 80%
}

button#menuClick, button#resume, button#nextLevel, button#restart {
    width: 25%;
    margin: .5%;
    z-index: 1700;
    text-align: center;
    vertical-align: middle;
    
    //button style code
    font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #ffffff;
	padding: 10px 20px;    
    background: linear-gradient(to bottom, #42aaff 0%, #003366 100%);
    border-radius: 10px;
    border: 1px solid #003366;
    box-shadow:
            0px 1px 3px rgba(000,000,000,0.5),
            inset 0px 0px 1px rgba(255,255,255,0.5);
    text-shadow:
            0px -1px 0px rgba(000,000,000,0.7),
            0px 1px 0px rgba(255,255,255,0.3);
}

#menuClick h1,#nextLevel h1,#resume h1, #restart h1, #clearStorage h1{ 
    color: black;
    margin-top: 5%;
}

.locked {
    background-color: gray;
}

.welcomeScreen {
    font-size: 60%;
    z-index: 1;
    text-align: center;
    position: absolute;
    opacity: .8;
    height:100%;
    background-image: url('pics/brickLarge.png');
    background-color:black;
    background-size: 200% 200%;
    background-position: center;
    background-size: 10% 10%;
    background-repeat: repeat;
}

.welcomeScreen h1 {
    font-size: 9em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    position: relative;
    margin: auto;
    top: 5%;
}

.myButton {
    position: relative;
    color: blue;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:-2px 2px 8px white;
    bottom: 15%;
    top: 20%;
}

#welcomeButton {
    top: 50px;
    color:white;
    font-weight: 700;
    font-size: 350%;
}
#welcomeButton:hover {
    color:green;
}
#clearStorage {
    top: 70px;
    color:white;
    font-weight: 700;
    font-size: 350%;
}
#clearStorage:hover {
    color: green;
}
div#scoreBar {
    display: inline-block;
    height: 10%;
}

div#scoreBar div#button {
    display: inline-block;
    height: 100%;
    width: 20%;
}

div#scoreBar div#score-header {
    display: inline-block;
    height: 100%;
    width: 80%;
    position: absolute;
    right: .5%;
}

#score {
    z-index: 3000;
    font-size: 1.1em;
    color: black;
    text-align: right;
    padding-right: 20px;
}

button#returnWelcome {
    width: 20%
}

button#menu {
    margin-top: .5%;
    width: 75%;
    text-align: center;
}

.tankLeft{
    background-image:url('pics/tankLeft.png'),url('pics/dirt.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankRight{
    background-image:url('pics/tankRight.png'),url('pics/dirt.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankTop{
    background-image:url('pics/tankUp.png'),url('pics/dirt.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankBottom{
    background-image:url('pics/tankDown.png'),url('pics/dirt.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankUpperLeft{
    background-image:url('pics/tankUpperLeft.png'),url('pics/dirt.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankUpperRight{
    background-image:url('pics/tankUpperRight.png'),url('pics/dirt.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankLowerLeft{
    background-image:url('pics/tankLowerLeft.png'),url('pics/dirt.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankLowerRight{
    background-image:url('pics/tankLowerRight.png'),url('pics/dirt.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}
