/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2014, 5:13:56 PM
    Author     : ashleybroadwell
*/
html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    clear: both;
}

div.laserGate {
    width: 100%;
    height: 80%; 
    position: absolute;
    /*overflow: hidden;*/
}

table {
    margin: auto;
    width: auto;
    height: auto;
    table-layout: fixed;
    /*position: absolute;*/
    overflow: hidden;
    /*position: absolute;*/
}

h1 {
    color: blue;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;

}
#whereami {
    color: blue;
    vertical-align: middle;
    text-align: center;
}

tr, td {
    height: 30px;
    width: 50px;
    alignment-adjust: middle;
    text-align: center;
    overflow: hidden; 
    border: 1px lightgray dotted;
}

.outer {
    background-color: orange;
    color: white;
}

.laser {
    color:white;
    background-color: blue;
}

.avatar {
    background-color: black;
    color: white;
}

#thing {
    position: absolute;
    height: 15px;
    width: 15px;
    transition: left 1s ease-in, top 1s ease-in;
    visibility: hidden;
}

.unHit {
    background-color: gray;
}
/*
.hit {
    background-color: red;
}*/
.remove {
    background-color: transparent;
}

.menuOverlay{
   position:fixed; /*or  absolute*/
   margin: auto;
   top:0;
   left:0;
   width:100%;
   height: 100%;
   background: grey;
   opacity: .5;
   z-index: 1000; /* or  greater value */
}


#OverlayOptions {
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 5%;
    background: gold;
    opacity: 1;
}

#menuClick {
    padding-top: 10%;
    position: absolute; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 2000;
}

#restart {
    padding-top: 15%;
    position: absolute; //could be a problem
    text-align: center;
    vertical-align: middle;
}

#menuClick h1, #restart h1{
    color: black;
}