/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2014, 5:13:56 PM
    Author     : ashleybroadwell
*/
html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    clear: both;
}

div.laserGate {
    width: 100%;
    height: 80%; 
    position: absolute;
    /*overflow: hidden;*/
}

table {
    margin: auto;
    width: auto;
    height: auto;
    table-layout: fixed;
    /*position: absolute;*/
    overflow: hidden;
    /*position: absolute;*/
}

h1 {
    color: blue;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;

}
#whereami {
    color: blue;
    vertical-align: middle;
    text-align: center;
}

tr, td {
    height: 30px;
    width: 50px;
    alignment-adjust: middle;
    text-align: center;
    overflow: hidden; 
    border: 1px lightgray dotted;
}

.outer {
    background-color: orange;
    color: white;
}

.laser {
    color:white;
    background-color: blue;
}

.avatar {
    background-color: black;
    color: white;
}

#thing {
    position: absolute;
    height: 15px;
    width: 15px;
    transition: left 1s ease-in, top 1s ease-in;
    visibility: hidden;
}

.unHit {
    background-color: gray;
}
/*
.hit {
    background-color: red;
}*/
.remove {
    background-color: transparent;
}

.menuOverlay{
   position:fixed; /*or  absolute*/
   margin: auto;
   top:0;
   left:0;
   width:100%;
   height: 100%;
   background: grey;
   opacity: .5;
   z-index: 1000; /* or  greater value */
}


#OverlayOptions {
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 5%;
    background: gold;
    opacity: 1;
}

#menuClick {
    padding-top: 10%;
    position: absolute; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 2000;
}

#resume {
    padding-top: 12%;
    position: absolute; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 1700;
}

#nextLevel{
    padding-top: 14%;
    position: absolute; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 1500;
}

#restart {
    padding-top: 16%;
    position: absolute; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 1400;
}

#clearStorage {
    padding-top: 18%;
    position: absolute; 
    text-align: center;
    vertical-align: middle;
    z-index: 1300;
}

#menuClick h1,#nextLevel h1,#resume h1, #restart h1, #clearStorage h1{
    color: black;
}

.locked {
    background-color: gray;
}

.welcomeScreen {
    font-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
}

.welcomeScreen h1 {
    font-size: 10.5em;
    position: relative;
    margin: auto;
}


.myButton {
        position: relative;
	color:#F20d12;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	padding: 16px 76px;
	text-decoration:none;
	text-shadow:-2px 2px 8px #Ff6627;
}

#welcomeButton {
    position: relative;
}

#welcomeSong {
    visibility: hidden;
}

#bgVid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; 
    z-index: -100;
}